.services {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--main-services-text);
    margin: 0 2%;
}

.services-tittle {
    text-align: center;
    font-size: 2rem;
    text-shadow: var(--maim-services-tittle-shadow);
}

.services-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.services-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 21%;
    margin: 3% 2% 3% 2%;
    text-align: center;
    background-color: var(--bg-content);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    border-radius: 10px;

    svg {
        height: 4em;
        width: 4em;
        fill: var(--main-services-svg);
        filter: var(--main-services-shadow-filter);
    }
    h3 {
        font-size: 1.5rem;
        min-height: 25%;
        text-align: center;
    }
    p {
        font-size: 1rem;
    }
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.6s ease, transform 0.6s ease;
}
.services-item.visible {
    opacity: 1;
    transform: translateY(0);
}
@for $i from 1 through 7 {
    .services-item:nth-child(#{$i}) {
      @if $i <= 4 {
        transition-delay: #{($i - 1) * 0.2}s;
      }
      @else if $i == 5 {
        transition-delay: 0s;
      }
      @else if $i > 5 {
        transition-delay: #{($i - 5) * 0.2}s;
      }
    }
  }

@media screen and (max-width: 850px) {
    .services-item {
        h3 {
            font-size: 1.3rem;
        }
        p {
            font-size: .9rem;
        }
    }
}
@media screen and (max-width: 768px) {
    .services-item {
        width: 28%;
        h3 {
            font-size: 1.1rem;
        }
        p {
            font-size: .8rem;
        }
    }
    @for $i from 1 through 7 {
        .services-item:nth-child(#{$i}) {
          @if $i <= 3 {
            transition-delay: #{($i - 1) * 0.2}s;
          }
          @else if $i > 3 and $i <= 6 {
            transition-delay: #{($i - 4) * 0.2}s;
          }
          @else {
            transition-delay: #{($i - 7) * 0.2}s;
          }
        }
      }
}
@media screen and (max-width: 650px) {
    .services-item {
        width: 46%;
        h3 {
            font-size: 1.2rem;
        }
        p {
            font-size: .85rem;
        }
    }
    @for $i from 1 through 7 {
        .services-item:nth-child(#{$i}) {
          @if $i <= 2 {
            transition-delay: #{($i - 1) * 0.2}s;
          }
          @else if $i > 2 and $i <= 4 {
            transition-delay: #{($i - 3) * 0.2}s;
          }
          @else if $i > 4 and $i <= 6 {
            transition-delay: #{($i - 5) * 0.2}s;
          }
          @else {
            transition-delay: #{($i - 7) * 0.2}s;
          }
        }
      }
}
@media screen and (max-width: 425px) {
    .services-item {
        width: 100%;
        margin-bottom: 10%;
        transition-delay: 0s;
        &:last-child {
            margin-bottom: 0;
        }
        h3 {
            font-size: 1.2rem;
        }
        p {
            font-size: .85rem;
        }
    }
}
