@import './config/styles/variables.scss';
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: sans-serif;
    font-family: "Open Sans", sans-serif;
    line-height: 1.5;
    // background-color: var(--bg-color);
    color: var(--text-color);
}
body {
    overflow-x: hidden;
    width: 100%;
}
a {
    text-decoration: none;
    color: inherit;
}

ul, ol {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

button, input, textarea {
    border: none;
    background: none;
    font-family: inherit;
}

h1, h2, h3, h4, h5, h6 {
    font-size: inherit;
    font-weight: normal;
}

article, aside, footer, header, nav, section {
    display: block;
}

button {
    cursor: pointer;
}
#root {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}